<h1>Listing build_results</h1>

<table>
  <tr>
    <th>Name</th>
    <th colspan="3">?</th>
  </tr>

<% @build_results.each do |build_result| %>
  <tr>
    <td><%= build_result.name %></td>
    <td class="action"><%= link_to 'Show', build_result %></td>
    <td class="action"><%= link_to 'Edit', edit_build_result_path(build_result) %></td>
    <td class="action"><%= link_to 'Destroy', build_result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Build result', new_build_result_path %>
