<%= form_for(@data[:account]) do |f| %>
    <% if @data[:account].errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@data[:account].errors.count, "error") %> prohibited this account from being saved:</h2>

          <ul>
            <% @account.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %>
      <br/>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <label>Landscape</label>
      <br/>
      <%= f.select 'landscape_id', @data[:landscapes], {:include_blank => 'Please select landscape'} %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
